/* Feito por Osmar Januario de souza Neto */


/* ------ Basic Setup ------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: #555;
}

/* ------ Tela de jogo ------ */

.memory-game{
    height: 640px;
    width: 840px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    /* --Perspeciva aumenta os efeitos 3d-- */
    perspective: 1000px;
}

/* ------ Estilização das cartas ------ */

.card{
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;

    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);

    cursor: pointer;
    transform: scale(1);

    /* Não deixa o elemento achatado no plano (tela) */
    transform-style: preserve-3d;

    transition: transform 0.9s;
}

.card:active{
    transform: scale(0.97);
    transition: transform 0.3s;
}

.card-front,
.card-verse{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;

    backface-visibility: hidden;
    /* Propriedade que tira o verso do elemento */
}

.card-front{
    transform: rotateY(180deg);
    padding: 4px;
    background-color: #000;
}

/* ------ Animação de virar carta ------ */

.card.flip{
    transform: rotateY(180deg);
}